
body {

    background-color: rgb(126, 141, 161);
}

hr{
 border-top: solid rgb(0, 0, 0) ;
 border-bottom: #000000;
}

audio {
    text-align: center;
    margin-top: 20px;
}


h1 {
  font-family: "Times New Roman", serif;
  word-spacing: 0px;

}
 




p {
    text-align: justify;
}

img{ float: right;
    height: 300px;
    border: 1px solid rgb(32, 29, 27);
}

#toc_container{

    background-color: #838f9b;
  
    background-image: none;
  
    border: 1px solid #151718;
  
    border-radius: 0px;
  
    box-sizing: border-box;
  
    color: #000000;
  
    font-family: Arial;
  
    font-weight: normal;
  
    font-style: normal;
  
    font-size: 13px;
  
    line-height: 1.4;
  
    margin:0;
  
    padding:10px 10px 10px 10px;
  
    text-align: left;
  
  }
  
  
  
  #toc_container ul{
  
    list-style-type: none;
  
    list-style-position: inside;
  
  }
  
  
  
  #toc_container > ul{
  
    margin: 0;
  
    padding: 0;
  
  }
  
  
  
  #toc_container > ul ul{
  
    padding: 0 20px;
  
  }
  
  
  
  #toc_container .toc_title{
  
    font-weight: bold;
  
    font-size: 19px;
  
    padding: 0 0 0.5em 0;
  
  }
  



#my_toc_container{

    display: inline-block;
  
    width: 100%;
  
    z-index: 10;
  
  }


